.cursor_pointer {
  cursor: pointer;
}

.no_border {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0em !important;
  margin-bottom: 0 !important;
}

.fileUploadError {
  padding-left: 0.25rem !important;
  color: #ff4d4f;
  margin-top: -10px;
}

.text_red {
  color: #ff4d4f;
}

.custom_header {
  font-size: 20px !important;
  .custom_divider {
    margin-bottom: 0px !important;
  }
}
